.inputWrapper,
.selectWrapper {
  position: relative;
  width: 100%;
}

.input,
.select {
  width: 100%;
  padding: 11px 15px;
  border: 1px solid var(--color-primary-border);
  border-radius: var(--border-radius);
  background: var(--color-primary-bg);
  font-size: 16px;
  line-height: 24px;
  transition: var(--transition-all);
  appearance: none;
}

.select {
  cursor: pointer;
}

/* Рамка при фокусе (если ошибки нет) */

.input:focus,
.select:focus {
  box-shadow: 0 0 0 1px var(--color-tailwind-blue);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    color 0.3s ease;
  border-color: var(--color-tailwind-blue);
}

/* Рамка красная при ошибке */

.inputError,
.selectError {
  transition: var(--transition-all);
  border-color: var(--color-error);
}

/* Рамка красная при ошибке и фокусе */

.input:focus.inputError,
.select:focus.selectError {
  box-shadow: 0 0 0 1px var(--color-error);
  transition: var(--transition-all);
  border-color: var(--color-error);
}

/* Лейбл */

.label {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 16px;
  color: #999;
  transition: 0.3s ease all;
  pointer-events: none;
  transform: translateY(-50%);
}

/* Лейбл при ошибке */

.inputError + .label,
.selectError + .label {
  top: -22px;
  font-size: 1rem;
  color: var(--color-error);
  transform: none;
}

/* Лейбл поднимается при фокусе */

.input:focus + .label,
.select:focus + .label {
  top: -22px;
  font-size: 1rem;
  color: var(--color-tailwind-blue);
  transform: none;
}

/* Лейбл при значении без фокуса */

.input:not(:placeholder-shown, :focus, .inputError) + .label,
.select:not([value=""], :focus) + .label {
  top: -22px;
  font-size: 1rem;
  color: #999;
  transform: none;
}

/* Лейбл при автозаполнении */

.input:-webkit-autofill + .label {
  top: -22px;
  font-size: 1rem;
  color: var(--color-tailwind-blue);
  transform: none;
}

/* Лейбл при ошибке с фокусом */

.input:focus.inputError + .label,
.select:focus.selectError + .label {
  color: var(--color-error);
}

/* Стрелка для select */

.arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 10px;
  height: 8px;
  background: #999;
  transition: background 0.3s ease;
  clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
  pointer-events: none;
  transform: translateY(-50%);
}

/* Цвет стрелки при ошибке */

.selectError ~ .arrow {
  background: var(--color-error);
}

/* Цвет стрелки при фокусе */

.select:focus ~ .arrow {
  background: var(--color-tailwind-blue);
}

/* Сообщение об ошибке */

.errorMessage {
  position: absolute;
  top: -20px;
  right: 0;
  margin: 0;
  font-size: 14px;
  color: var(--color-error);
  white-space: nowrap;
}

/* Стили для автозаполнения */

.input:-webkit-autofill {
  background-color: #f0f8ff !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Password */

.validationPopup {
  position: absolute;
  top: -133px;
  left: 0;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  opacity: 1;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 10;
}

.validationPopup.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
}

.strengthBar {
  height: 5px;
  border-radius: 3px;
  background-color: green;
  transition: width 0.3s ease;
  margin-bottom: 10px;
}

.requirements {
  padding: 0;
  margin: 0;
  list-style: none;
}

.requirements li {
  font-size: 14px;
  color: gray;
}

.requirements .met {
  color: green;
}

/* AuthCheckbox */

.checkboxContainer {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.checkboxInput {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkboxLabel {
  font-size: 16px;
  line-height: 24px;
  transition: var(--transition-all);
  cursor: pointer;
}

.errorText {
  color: var(--color-error);
}

.required {
  color: var(--color-error);
}
